<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="simpleTodo">
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

  <title>Kelly Anyi</title>
  <link rel="icon" type="image/jpg" href="img/ka.jpg">
  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
  <style>
  html                    { overflow-y:scroll; }
  body                    { padding-top:50px; }
  #todo-list              { margin-bottom:30px; }
  </style>
  <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css"  href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
<!--     <link rel="stylesheet" type="text/css"  href="css/freelancer.css">
  <link rel="stylesheet" type="text/css" href="css/freelancer.min.css"> -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="js/modernizr.custom.js"></script>


  <!-- SPELLS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
  <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL DATA -->
<body ng-controller="mainController" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div id="nav">
    <nav class="navbar navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
          <a class="navbar-brand page-scroll" href="/">KELLY ANYI</a> </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
              <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
              <li class="hidden"> <a href="#page-top"></a> </li>

              <li> <a class="page-scroll" href="#portfolio">Projects</a> </li>  

              <!-- <li> <a class="page-scroll" href="#skills">Skills</a> </li> -->
              <li> <a class="page-scroll" href="#resume">Resume</a> </li>
              <li> <a class="page-scroll" href="#about">About</a> </li>            
              <li> <a class="page-scroll" href="#contact">Contact</a> </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

<!-- <section class="container">
Before I die... I want to
<form class="form">
<div class="form-group">
<input type="text" class="form-control input-lg text-center" placeholder=" buy a puppy that will love me forever" ng-model="formData.text">
</div>
<button type="submit" class="btn btn-info btn-lg" ng-click="createTodo()">Add</button>
</form>
</section>

<section class="container">
<form class="form">
<div class="form-group">
<input type="text" class="form-control input" ng-model="formData.title" placeholder="title">
<input type="text" class="form-control input" ng-model="formData.type" placeholder="project type">
<input type="textarea" class="form-control input" ng-model="formData.description" placeholder="description">
<input type="text" class="form-control input" ng-model="formData.date" placeholder="date">
<input type="text" class="form-control input" ng-model="formData.language" placeholder="language">
<input type="text" class="form-control input" ng-model="formData.tech" placeholder="technologies">

<input type="text" class="form-control input" ng-model="formData.img" placeholder="image name">
<input type="text" class="form-control input" ng-model="formData.video" placeholder="video url">

<input type="text" class="form-control input" ng-model="formData.url" placeholder="source url">
</div>
<button type="submit" class="btn btn-info" ng-click="createProject()">create</button>
</form>
</section> -->



<div id="portfolio" ng-cloak>
  <div class="container">
    <div class="header">
      <h3>Projects</h3>
    </div>

    <div id="sub-portfolio" class="row" ng-repeat="project in projects | orderBy: '-createdAt'">
      <div class="col-md-6" >
        <img ng-show="!project.video" class="img-responsive" src="img/portfolio/{{project.img}}.jpg" alt="">
        <div ng-show="project.video" class="img-responsive youtube-container">
          <div class="youtube-player" data-id="RIl45tqBqtY?list=PLjFm8PBGO0F9xwNqCYnVUKnSXznb_zz-a"></div>
        </div>
        <script>
        (function() {
          var v = document.getElementsByClassName("youtube-player");
          for (var n = 0; n < v.length; n++) {
            var p = document.createElement("div");
            p.innerHTML = labnolThumb(v[n].dataset.id);
            p.onclick = labnolIframe;
            v[n].appendChild(p);
          }
        })();

        function labnolThumb(id) {
          return '<img class="youtube-thumb" src="img/portfolio/mlo.jpg"><div class="play-button"></div>';
        }

        function labnolIframe() {
          var iframe = document.createElement("iframe");
          iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=0&showinfo=0");
          iframe.setAttribute("frameborder", "0");
          iframe.setAttribute("id", "youtube-iframe");
          this.parentNode.replaceChild(iframe, this);
        }
        </script>
      </div>
      <div class="col-md-6 details">
        <h2>{{project.title}}</h2> <!-- <button class="btn" ng-click="deleteProject(project._id)">delete</button> -->
        <p class="lead">{{project.description}}</p>
        <h5><i class="fa fa-calendar-o" aria-hidden="true"></i> {{project.date}}</h5>
        <h5><i class="fa fa-code" aria-hidden="true"></i> {{project.tech}} </h5>
        <h5 ng-show="project.url"> <i class="fa fa-file-code-o" aria-hidden="true"></i><a href="{{project.url}}"> Source</a> </h5>

      </div>

    </div>
  </div>
</div>


<div id="resume">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Resume</h2>
      <hr>
    </div>

    <div class="header">
      <h3>Education</h3>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h3>B.A.Sc. in Software Engineering <br>
          <span class="lead">University of British Columbia, Vancouver, CA</span>
        </h3>
      </div>
      <div class="col-md-4 text-right">
        <h3>2011 - 2016</h3> 
      </div>
      <div class="col-md-12 relevant-cw">
        <h4>Relevant Coursework:</h4>
        <ul>
          <li>Data Structures and Algorithms</li>
          <li>Principles of Software Design</li>
          <li>Basics of Computer Systems</li>
          <li>Digital Systems Design</li>
          <li>Software Engineering</li>
          <li>Computer Systems Design Studio</li>
          <li>Professional Engineering Practice</li>
          <li>Operating Systems</li>
          <li>Mathematical Proof</li>
          <li>Introduction to Relational Databases</li>
          <li>Intermediate Algorithm Design and Analysis</li>
          <li>Building Modern Web Applications</li>
          <li>Computer Graphics</li>
          <li>Software Project Management</li>
          <li>Software Testing and Analysis</li>
          <li>Software Engineering Capstone Design Project</li>
        </ul>
      </div>
    </div>

    <div class="header">
      <h3>Experience</h3>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h3>Information Technology Intern <br>
          <span class="lead">Awan Inspirasi Sdn. Bhd, Miri, MYS</span>
        </h3>
      </div>
      <div class="col-md-4 text-right">
        <h3>July 2014 - August 2014</h3> 
      </div>
      <div class="col-md-12 relevant-cw">
        <h4>I flew back home for the summer holiday and had the oppurtunity to 
          work as an intern with the IT department of an offshore helicopter service company based in Miri, Malaysia.
        </h4>
        <ul>
          <li>Learned the basics of local server system and assisted in new server and computer installation.</li>
          <li>Developed a software program for employees to submit HSE report via local server.</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h3>Volunteer <br>
          <span class="lead">UBC Applied Science, Thunderbird Elementary School, B.C., CA</span>
        </h3>
      </div>
      <div class="col-md-4 text-right">
        <h3>January 2013 - April 2013</h3> 
      </div>
      <div class="col-md-12 relevant-cw">
        <h4></h4>
        <ul>
          <li>Coached a class of elementary (grade one) students to pursue a future professional career in engineering by learning physical sciences and its application to the real world problem, via several exciting and interactive activities.</li>
          <li>Collaboratively prepared teaching materials and activities.</li>
          <li>Drafted, wrote and submitted volunteering experience report.</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h3>Graphic Designer<br>
          <span class="lead">Freelancer, CA & MYS</span>
        </h3>
      </div>
      <div class="col-md-4 text-right">
        <h3>2012 - present</h3> 
      </div>
      <div class="col-md-12 relevant-cw">
        <h4>I started graphic design when I was in high-school and most of my works were voluntary. It includes cards, banners and websites design. I worked directly with designers, clients and product owners to deliver creative solutions.</h4>
      </div>
    </div>

  </div>
</div>

<!-- Skills Section -->
<!-- <div id="skills" class="">
  <div class="container">
    <div class="header">
      <h3>Skills</h3>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="95"> <span class="percent">95</span> </span>
        <h4>HTML5</h4>
      </div>
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="85"> <span class="percent">85</span> </span>
        <h4>CSS3</h4>
      </div>
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
        <h4>jQuery</h4>
      </div>
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
        <h4>WordPress</h4>
      </div>
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="70"> <span class="percent">70</span> </span>
        <h4>Photoshop</h4>
      </div>
      <div class="col-md-3 col-sm-6 skill"> <span class="chart" data-percent="65"> <span class="percent">65</span> </span>
        <h4>Illustrator</h4>
      </div>
    </div>
  </div>
</div> -->
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row  col-md-8 col-md-offset-2">
      <div class="about-text text-center">
        <div class="col-md-4 lead"><i class="fa fa-lg fa-globe" aria-hidden="true"></i><p>Sarawak + Vancouver</p></div>
        <div class="col-md-4 lead"><i class="fa fa-lg fa-graduation-cap" aria-hidden="true"></i><p>SE @ UBC</p></div>
        <div class="col-md-4 lead"><i class="fa fa-lg fa-heart" aria-hidden="true"></i><p>Code, Design, Photography, Coffee, Music</p></div>
        <p class="text-center"><a class="btn btn-primary" target="_blank" href="https://docs.google.com/document/d/1vwbaT0Ujp4afOmIIdsVE8wTN0nuRjVP05ypWohJreZ0/edit?usp=sharing"><i class="fa fa-download"></i> Download Resume</a></p>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div id="contact" class="text-center">
<div class="container">
<div class="page-header"><i class="fa fa-4x fa-connectdevelop" aria-hidden="true"></i><hr></div>
<div class="lead">
<p>kellypurai@gmail.com</p>
<p><a href="https://ca.linkedin.com/in/kelly-anyi-839a7942" target="_blank">linkedin</a></p>
<p><a href="https://bitbucket.org/kelleee" target="_blank">bitbucket.org</a></p>
<p><a href="https://hikelleee.tumblr.com" target="_blank">tumblr.com</a></p>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>

<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>&copy; 2016 Kelly Anyi <!-- Designed by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a> --></p>
    </div>
  </div>
</div>

</body>

<script type="text/javascript" src="js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/SmoothScroll.js"></script> 
<script type="text/javascript" src="js/easypiechart.js"></script> 
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="js/jquery.isotope.js"></script> 
<script type="text/javascript" src="js/jquery.counterup.js"></script> 
<script type="text/javascript" src="js/waypoints.js"></script> 
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="js/contact_me.js"></script> 
<script type="text/javascript" src="js/main.js"></script>
</html>